.fp-card{
    height: 459px;
    margin-top: 100px !important;
    left: 433px;
    background: #000000 0% 0% no-repeat padding-box !important;
    border-radius: 5px;
    opacity: 0.6;
}
.m-i{
    top: 297px!important;
    position: absolute;
    margin-left: 450px !important;
    width: 22px;
    height: 16px;
    background:transparent;
    /* background-image: url('./msg.png'); */
    opacity: 1;
}
.lock-i{
    margin-top: -35px;
    margin-left: 400px;
    width: 15px;
    height: 20px;
    background: transparent;
    /* background-image: url('./lock.png'); */
    opacity: 1;
}
.img{
    background-color: transparent !important; 
    padding-top: 33px;
    padding-right: 260px !important;
    /* padding-left: -24px !important; */
    top: 110px !important;
    width: 150px;
    height: 60px !important;
}
.MuiCardMedia-root {
    display: block;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
}
.rst-1{
    margin-top: 38px !important; 
    margin-left: 27px !important;
    width: 410px;
    height: 40px;
    background: #34A853 0% 0% no-repeat padding-box !important;
    border-radius: 4px;
    opacity: 1  !important;
    text-transform: capitalize !important;
}
.unknown{
    color: #34A853 !important;
    margin-top: 20px !important;
}
.email-box{
    /* background-color: #FFFFFF; */
    border: 1px solid #FFFFFF !important;
    width: 405px !important;
    height: 40px !important;
    margin-right: 0px !important;
    margin-top: 25px !important;
}
.psd-box{
    border: 1px solid #FFFFFF !important;
    width: 405px !important;
    height: 40px !important;
    margin-right: 0px !important;
    margin-top: 21px !important;
}
.psdbox{
    border: 1px solid #FFFFFF !important;
    width: 405px !important;
    height: 40px !important;
    margin-right: 0px !important;
    margin-top: 36px !important;
}
.pswd1{
    margin-top: 0px !important;
    margin-left: 27px !important;
    width: 170px;
    height: 27px;
    text-align: left;
    font-size: 22px !important;
    letter-spacing: 0.21px;
    color: #FFFFFF !important;
    opacity: 1;
}