@media (max-width: 320px) {
    .rst{
      width: 30px;
    }
    .email{
        width:405px !important;
    }
    .content{
        width:30px !important;
    }
  }
.sm-card{
    margin-top: 218px !important;
left: 433px;
height: 332px;
background: #000000 0% 0% no-repeat padding-box !important;
border-radius: 5px;
opacity: 0.6;
}
.pswd{
    margin-top: 0px !important;
margin-left: 27px !important;
width: 170px;
height: 27px;
text-align: left;
font-size: 22px !important;
letter-spacing: 0.21px;
color: #FFFFFF !important;
opacity: 1;
}
.MuiOutlinedInput-input {
    padding: 18.5px 14px;
    color: white !important;
}
.MuiInputLabel-outlined.MuiInputLabel-marginDense {
    transform: translate(14px, 12px) scale(1);
    color: white;
}
.content{
    margin:dense !important; 
    margin-top: 10px !important;
    margin-left: 28px !important;
    width: 373px !important;
    height: 19px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.54px;
    color: #1A67A3;
    opacity: 1;
}
.email{
    /* background-color: #FFFFFF; */
    border: 1px solid #FFFFFF !important;
    width: 405px !important;
    height: 40px !important;
    margin-right: 0px !important;
    margin-top: 25px !important;
}
.img1{
    background-color: transparent !important; 
    padding-top: 33px;
    padding-right: 265px !important;
    /* padding-left: -24px !important; */
    top: 110px !important;
    width: 150px;
    height: 60px !important;
}
.MuiCardMedia-root {
    display: block;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
}
.msg-im{
    top: 413px!important;
    position: absolute;
    margin-left: 400px !important;
    width: 22px;
    height: 16px;
    background:transparent;
    background-image: url('../assets/msg.png');
    opacity: 1;
}
.rst{
    margin-top: 24px !important; 
    margin-left: 29px !important;
    width: 407px;
    height: 40px;
    background: #1A67A3 0% 0% no-repeat padding-box !important;
    border-radius: 4px;
    opacity: 1  !important;
    text-transform: capitalize !important;
}

