@media (max-width: 320px) {
    .in-box{
        /* width: 30px ; */
    }
   }
 /* responsive */
 .button-r{
         width: 410px;
         height: 40px;
         top:10px;
         background-color: #1A67A3 !important;
         color: #FFFFFF !important;
         opacity: 1 !important;
     text-transform: capitalize !important;
 }
 .smtxt{
    color: #1A67A3;
    font-size: 16px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: 600 !important;
    margin-left:26px !important;
    top: 215px !important;
    position: absolute;
}
.image{
    background-color: transparent !important; 
    padding-top: 23px;
    padding-right: 265px !important;
    /* padding-left: -24px !important; */
    top: 110px !important;
    width: 150px;
    height: 60px !important;
}
.MuiCardMedia-root {
    display: block;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
}
 .Text-info{
     /* position: absolute; */
     margin-top: 15px !important;
 margin-left: 26px !important;
 width: 147px;
 height: 27px;
 text-align: left !important;
 font-size:  22px !important;
 font-weight: 500 !important;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 letter-spacing: 0.21px !important;
 color: #FFFFFF !important;
 opacity: 1;
 }
 .card-r{
     margin-top: 80px !important;
 /* margin-left: 510px; */
 /* width: 500px; */
 height: 565px;
 background:#000000 !important;
 border-radius: 5px;
 opacity: 0.6;
 }
 .in-box{
     width: 410px;
   height: 46px !important;
   top:35px !important;
   border: 1px solid #FFFFFF !important; 
   border-radius:4px ;
 }
 .box-1{
     width: 410px;
     height: 46px;
     margin-top:40px !important;
     border: 1px solid #FFFFFF !important; 
     border-radius:4px ;
 }
 .box2{
     width: 410px;
     height: 46px;
     margin-top:35px !important;
     border: 1px solid #FFFFFF !important; 
     border-radius:4px ;
 }
 .msg1{
     padding-top: -10px!important;
     margin-left: 405px !important;
     width: 22px;
     height: 16px;
     background: transparent;
     background-image: url('./msg.png');
     opacity: 1;
 }
 .lock{
   /* position: absolute; */
   margin-top: -35px;
   margin-left: 410px;
   width: 15px;
   height: 20px;
   background: transparent;
   background-image: url('./lock.png');
   opacity: 1;
 }
 .gbtn-r{
     position: absolute !important;
    top:575px !important;
    right:709px !important;
    background-color: #FFFFFF !important;
    width: 195px !important;
    height: 40px;
    opacity: 1.6 !important;
    /* background:  url('..//assets/google.png') 0% 0% no-repeat padding-box !important; */
}
.hrtext{
    margin-top: 30px !important;
    margin-left: 29px !important;
    border: 1px solid #FFFFFF !important;
    width: 190px;
    height: 0px !important;
}
.bold-r{
    position: absolute;
    top:546px !important;
    left: 690px;
    color: #FFFFFF !important;
}
.hrr{
    margin-left: 249px !important;
    border: 1px solid #FFFFFF !important;
    margin-top: -2px !important;
    width: 185px;
    height: 0px !important;
}
.fbtn-r{
    position: absolute !important;
    top:575px !important;
    left: 707px;
    width: 195px;
    height: 40px;
    background-color: #475993 !important;
}
.icon{
    color: #FF0000 !important;
    position: absolute;
    left: 493px;
    top: 450px;
    /* margin-right: 800px !important; */
}
.icon-txt{
    color: #FF0000 !important;
    font-size: 12px !important;
padding-top: 18px !important;
    /* width: 394px !important; */
    padding-left: 40px !important;
}
.icn-t{
    color: #FF0000 !important;
    font-size: 12px !important;
padding-top: 0px !important;
    /* width: 394px !important; */
    padding-right: 178px !important;
}